<div class="row">
  <div class="col-md-6">
    <%= simple_form_for([artigo, Comentario.new]) do |f| %>
      <%= f.input :descricao %><br>
      <%= f.submit nil, :class => 'btn btn-primary' %>
    <% end %>
  </div>
</div>